
body {font-family: Gilroy;}



.head {
    display: flex;
    width: 1440px;
    height: 116px;
    justify-content: space-between;

}
.head .logo{
    margin-left: 80px;
    margin-top: 39px;
}
    
.head .h1{
    width: 49px;
    height: 21px;
    font-size: 18px;
    margin-left: 400px;
    margin-top: 45px;
}
.head .h2 {
    width: 80px;
    height: 21px;
    font-size: 18px;
    margin-top: 45px;
    margin-left: 31px;
}
.head .h3 {
    width: 68px;
    height: 21px;
    font-size: 18px;
    margin-top: 45px;
    margin-left: 31px;
}
.head .h4 {
    width: 46px;
    height: 21px;
    font-size: 18px;
    margin-top: 45px;
    margin-left: 31px;
    margin-right: 395px;
}
.head .button {
    display: flex;
    width: 150px;
    height: 43px;
    font-size: 18px;
    margin-top: 32px;
    margin-right: 35px;
    border: 2px #F7941E solid;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    color: #F7941E;
}

.cover{
    display: flex;
    width: 1440px;
    height: 700px;
    background: #F1F1F2;
}
.cover .text {
    display: flex;
    width: 50%;
    height: 700px;
    flex-direction: column;
}
.cover .img {
    width: 50%;
    height: 700px;
}
.cover .text .content1 {
    display: flex;
    width: 433px;
    height: 206px;
    font-size: 54px;
    margin-left: 162px;
    margin-top: 154px;
}
.cover .text .content2 {
    display: flex;
    width: 422px;
    height: 57px;
    font-size: 20px;
    margin-left: 162px;
    margin-top: 36px;
}
.cover .text .content3 {
    display: flex;
    margin-top: 52px;
    margin-left: 162px;
    background-color: #F7941E;
    font-size: 18px;
    width: 200px;
    height: 60px;
    border: 2px #F7941E solid;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    color: aliceblue;
   
}
.coverLow {
    display: flex;
    height: 600px;
    width: 1440px;
    background: #F1F1F2;

    
}
.coverLow .text {
    display: flex;
    width: 50%;
    height: 600px;
    flex-direction: column;
}
.coverLow .img {
    width: 50%;
    height: 700px;
    
}
.coverLow .text .content1 {
    width: 194pc;
    height: 45px;
    font-size: 32px;
    margin-top: 164px;
    margin-left: 103px;
}
.coverLow .text .content2 {
    display: flex;
    width: 441px;
    height: 169px;
    margin-top: 23px;
    margin-left: 103px;
    font-size: 20px;
}
.coverLow .text .content3  {
    display: flex;
    font-size: 18px;
    width: 200px;
    height: 60px;
    border: 1px solid #F7941E;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    color: #F7941E;
    margin-top: 35px;
    margin-left: 103px;
    
}
.cards {
    
    width: 1440px;
    height: 820px;
}
.cards .had {
    
    display: flex;
    flex-direction: column;
    width: 1440px;
    height: 183px;
    justify-content: space-around;
    align-items: center;
    
    
}
.cards .had .h1 {
    display: flex;
    
    width: 422px;
    height: 39px;
    margin-top: 96px;
    margin-bottom: 23px;
    align-items: center;
    justify-content: center;
   
}
.cards .had .h2 {
   
    width: 454px;
    height: 25px;
}








.card {
    display: flex;
    height: 640px;
    width: 1440px ;
    align-items: center;
}




.cards .card .c1 {
   
    display: block;
    width: 270px;
    height: 440px;
    margin-left: 135px;
    box-shadow: -12px 10px 15px rgba(0, 0, 0, 0.29);
}
.cards .card .c1 .text1 {
    width: 222px;
    height: 24px;
    margin-left: 24px;
    margin-top: 24px;
    font-size: 20px;
    
}
.cards .card .c1 .text2 {
    font-size: 14px;
    width: 67px;
    height: 20;
    margin-top: 65px;
    margin-bottom: 5.5%;
    margin-left: 24px;
}





.cards .card .c2 {
    
    display: block;
    width: 270px;
    height: 440px;
    margin-left: 30px;
    background: #FAFAFA;
}
.cards .card .c2 .text1 {
    width: 222px;
    height: 24px;
    margin-left: 24px;
    margin-top: 24px;
    font-size: 20px;
    
}
.cards .card .c2 .text2 {
    font-size: 14px;
    width: 67px;
    height: 20;
    margin-top: 65px;
    margin-bottom: 5.5%;
    margin-left: 24px;
}


.cards .card .c3 {
  
    display: block;
    width: 270px;
    height: 440px;
    margin-left: 30px;
    background: #FAFAFA;
}
.cards .card .c3 .text1 {
    width: 222px;
    height: 24px;
    margin-left: 24px;
    margin-top: 24px;
    font-size: 20px;
    
}
.cards .card .c3 .text2 {
    font-size: 14px;
    width: 67px;
    height: 20;
    margin-top: 65px;
    margin-bottom: 5.5%;
    margin-left: 24px;
}



.cards .card .c4 {
    
    display: block;
    width: 270px;
    height: 440px;
    margin-left: 30px;
    background: #FAFAFA;
}
.cards .card .c4 .text1 {
    width: 222px;
    height: 24px;
    margin-left: 24px;
    margin-top: 24px;
    font-size: 20px;
    
}
.cards .card .c4 .text2 {
    font-size: 14px;
    width: 67px;
    height: 20;
    margin-top: 65px;
    margin-bottom: 5.5%;
    margin-left: 24px;
}




.pois {
    display: flex;
    width: 1440px;
    height: 240px;
    background-color: #F7941E;
}
.pois .levBlock  {
    width: 325px;
    height: 90px;
    margin-left: 235px;
    margin-top: 81px;
}
.pois .levBlock .LpoisText1 {
    font-size: 30px;
}
.pois .levBlock .LpoisText2 {
    font-size: 32px;
}

.pois .riBlock {
    width: auto;
    height: 50px;
    display: flex;
    margin-left: 229px;
    margin-top: 96px;
    
    
}
.pois .riBlock .poisBut {
    display: flex;
    align-items: center;
    color: #F1F1F2;
    background: #231F20;
    width: 200px;
    height: 50px;
    font-size: 18px;
    margin-right: 16px;
    border-radius: 5px;
    justify-content: center;
}
.pois .riBlock .poisBut2 {
    width: 198px;
    height: 48px;
    font-size: 18px;
    margin-right: 16px;
    justify-content: center;
    display: flex;
    align-items: center;
    border: #231F20 1px solid;
    border-radius: 5px;
    margin-right: 235px;
    
}



.last {
    width: 1440px;
    height: 1026px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.last .alb {
    background: #231F20;
display: flex;
height: 370px;
width: 1170px;
margin-top: 71px;


}

.last .hd {
    display: flex;
    align-items: center;
    margin-top: 88px;
    height: 39px;
    width: 422px;
    font-size: 32px;
    justify-content: center;
}
.last .hd2 {
    display: flex;
    align-items: center;
    height: 25px;
    width: 507px;
    font-size: 18px;
    margin-top: 23px;
}





.last .alb .aldText {  
    color: #F1F1F2;
    
    width: 770px;
    height: 370px;
    display: flex;
    flex-direction: column;
    padding-left: 78px;
    padding-top: 63px;
}
.last .alb .t1 {
   
    height: 20px;
    width: 84px;
    font-size: 14px;
    margin-bottom: 27px;
}
.last .alb .t2 {
    height: 125px;
    width: 492px;
    font-size: 48px;
    margin-bottom:  60px;
        
}
.last .alb .t3 {
    height: 26px;
    width: 90px;
    left: 613px;
    font-size: 18px;
    margin-bottom: 49px;

}





.last .cardS {
    display: flex;
    width: 1170px;
    height: 290px;
    margin-top: 40px;
    justify-content: space-between;
    
}
.last .cardS .carD {
    display: flex;
    flex-direction: column;
    height: 290px;
    width: 48%;
    padding-left: 48px;
    justify-content: center;
    box-sizing: border-box;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
   
    
    
}
.last .cardS .carD2 {
    flex-direction: column;
    display: flex;
    width: 48%;
    justify-content: center;
    box-sizing: border-box;
    padding-left: 48px;
}



.last .cardS .carD2 .u1 {
    width: 474px;
    height: 68px;
    font-size: 24px;
    margin-top: 48px;
}
.last .cardS .carD2 .u2 {
    width: 474px;
    height: 72px;
    font-size: 18px;
    margin-top: 16px;
    
}

.last .cardS .carD2 .u3 {
    width: 70px;
    height: 20px;
    font-size: 14px;
    margin-bottom: 50px;
    margin-top: 16px;
}


.last .cardS .carD .u1 {
    width: 474px;
    height: 68px;
    font-size: 24px;
    margin-top: 48px;
}
.last .cardS .carD .u2 {
    width: 474px;
    height: 72px;
    font-size: 18px;
    margin-top: 16px;
    
}

.last .cardS .carD .u3 {
    width: 70px;
    height: 20px;
    font-size: 14px;
    margin-bottom: 50px;
    margin-top: 16px;
}


.foods {
    width: 1440;
    height: 410px;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    padding-top: 115px;
    flex-wrap: wrap;
}
.foods .logo {
    width: 41px;
    height: 39px;
    margin-left: 141px;
    margin-right: 141px;
  
}
.foods .headLeft {
    width: 159px;
    height: 20px;
    display: flex;
    font-size: 14px;
    justify-content: space-between;

}
.foods .headLeft .hove {
    width: 38px;
    height: 20px;
}
.foods .headLeft .about {
    width: 38px;
    height: 20px;
    
    
}
.foods .headright {
    width: 132px;
    height: 20px;
    display: flex;
    font-size: 14px;
    justify-content: space-between;

}

.foods .headright .servise {
    width: 38px;
    height: 20px;
}
.foods .headright .blog {
    width: 38px;
    height: 20px;
}



.foods .lyne {
    width: 1000px;
    height: 1px;
    background-color: black;
    margin-top: 45px;
    
}
.foods .logos {
    display: flex;
    width: 296px;
    height: 40px;
    margin-left: 572px;
    margin-right: 572px;
    justify-content: space-between;
    margin-bottom: 72px;
    margin-top: 55px;
}
.foods .god {
    font-size: 14px;
    width: 94px;
    height: 20px;
    margin-right: 16px;
}
.foods .terms {
    font-size: 14px;
    width: 101px;
    height: 20px;
}





